//extends layout
doctype html
html(lang='en')
  head
    //
      Basic Page Needs
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    meta(charset='utf-8')

    title EtherExe

    meta(name='description', content='')

    meta(name='author', content='')
    //
      Mobile Specific Metas
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //
      FONT
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    // <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    //
      CSS
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    link(rel='stylesheet', href='/stylesheets/normalize.css')

    link(rel='stylesheet', href='/stylesheets/skeleton.css')

    link(rel='stylesheet', href='/stylesheets/main.css')
    // JS files
    //
      Favicon
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    link(rel='icon', type='image/png', href='http://cryptoyeti.com/wp-content/uploads/2016/03/icon2x-300x300.png')
  body
      //Primary Page Layout
      //––––––––––––––––––––––––––––––––––––––––––––––––––
    .container
      .header
        h1
          | EtherExe

      .twelve.columns
        h6
          | Run your live ethereum smart contracts here!
        h6
          | #{statusLabel}

      #abiDiv
        #abiForm
          p

          textarea#ABI(name='ABI' ) #{abiVal}
          textarea#contractAddress(name='contractAddress' ) #{addressVal}

        #button
            button submit ABI

        #functionDiv
            p functions
            functionNames = []
            functionParams = []
            each functionName in functionNames
              button#functionButton(name=functionName) #{functionNames[functionName]}
            each param in functionParams
              input#paramBox(name=param, placeholder = functionParams[param])

      .twelve.columns

      .twelve.columns
html

      //End Document
      //––––––––––––––––––––––––––––––––––––––––––––––––––

