doctype html
html(lang='zh')
  head
    //
      Basic Page Needs
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    meta(charset='utf-8')

    title xcontract
    //
      Mobile Specific Metas
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //
      FONT
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    // <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    //
      CSS
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/skeleton.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css')
    //if lt IE 9
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.ie.min.css')

    // JS files
    //
      Favicon
      ––––––––––––––––––––––––––––––––––––––––––––––––––

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src="/javascripts/bundle.js")

    link(rel='icon', type='image/png', href='/images/favicon.png')
  body
      //Primary Page Layout
      //––––––––––––––––––––––––––––––––––––––––––––––––––
     div
        ul
          li
            a(href="/")  首页
          li
            a(href="/search") 搜索
          li
            a(href="/sign") 签署/验证
          li
            a(href="https://alphawallet.com/") 关于我们
          h3(align="right")
            a.btn.btn-link(href='https://github.com/James-Sangalli/xcontract', id="githubTitle") xcontract

    .container
      .twelve.columns
        h6#notice
                         | 这个网站可以与智能合约交互，帮助你方便地用生成的链接将智能合约分享给朋友。 
        h6 #{warning}
        #abiDiv
          #abiForm
            p 这是 ABI:
            textarea#ABI(name='ABI', placeholder= abiError || "将智能合约的 ABI 放在这里" ) #{abiVal}
            p 这是智能合约地址:
            textarea#contractAddress(name='contractAddress', placeholder="将智能合约的地址放在这里" ) #{addressVal}
            p
            button#submit 执行合约
            if(typeof (url) != 'undefined')
              button#copyToClipboard Copy to Clipboard
            if(typeof (addressVal) != 'undefined')
              button#etherScanURLButton Etherscan

        #paramAndFunctionDiv
          h6 #{functionTitle}
          #functionsDiv
          if(typeof (functionNames) != 'undefined' && typeof (functionParams) != 'undefined')
            -var index = 0;
            each functionName in functionNames
              div(id="function" + index)
                button(name=functionName, id=functionName + "&" + index) #{functionName}

              if(functionParams[index] != "")
                textarea(value=functionParams[index], placeholder = functionNames[index].toUpperCase() +
                " parameters: " + functionParams[index] , id = index,
                readonly = readOnlyAttribute[index])
              else
                textarea(value=functionParams[index], placeholder = functionNames[index].toUpperCase() +
                " has no parameters", id = index,
                readonly = readOnlyAttribute[index])
              -index++

      .twelve.columns

      .twelve.columns
html

      //End Document
      //––––––––––––––––––––––––––––––––––––––––––––––––––

