//extends layout
//TODO add register and search
//TODO patch up frontend index.jade

doctype html
html(lang='en')
  head
    //
      Basic Page Needs
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    meta(charset='utf-8')

    title ContractExecutor

    meta(name='description', content='')

    meta(name='author', content='')
    //
      Mobile Specific Metas
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //
      FONT
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    // <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    //
      CSS
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/skeleton.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    // JS files
    //
      Favicon
      ––––––––––––––––––––––––––––––––––––––––––––––––––

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src="/javascripts/bundle.js")

    link(rel='icon', type='image/png', href='http://cryptoyeti.com/wp-content/uploads/2016/03/icon2x-300x300.png')
  body
      //Primary Page Layout
      //––––––––––––––––––––––––––––––––––––––––––––––––––
    .container
      .header
        h1
          | Contract Executor

      .twelve.columns
        h6
          | Run your live ethereum smart contracts here!

      #abiDiv
        #abiForm
          p

          textarea#ABI(name='ABI' ) #{abiVal}
          textarea#contractAddress(name='contractAddress' ) #{addressVal}

        //#button
        //    button submit ABI

        #paramAndFunctionDiv
            p functions
            functionNames
            functionParams
          #functionsDiv
          if(typeof (functionNames) != 'undefined' && typeof (functionParams) != 'undefined')
            -var index = 0;
            each functionName in functionNames
              -index++
              div(id="function" + index)
                button(name=functionName, id=functionName + "&" + index) #{functionName}
            #paramDiv
              -var index = 0;
              each param in functionParams
                -index++
                div(id = index)
                  textarea(value=param, placeholder = param, id = param + index)

      .twelve.columns

      .twelve.columns
html

      //End Document
      //––––––––––––––––––––––––––––––––––––––––––––––––––

